*{
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
}
.wrapper{
	width: 970px;
	background-color: #265175;
}
.header img{
	display: inline-block;
	margin: 10px 200px 0 0;
}
.top_right{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.top_right p{
	display: inline-block;
	color: white;
	font-weight: lighter;
	font-size: 12px;	
}
.top_right a{
	color: gold;
	font-weight: lighter;
	font-size: 12px;
}
.search_container{
	width: 275px;
	height: 70px;
	background-color: #444444;
	border-radius: 10px;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
}
.search_container input{
	height: 30px;
	width: 150px;
	border: 2px solid grey;
	margin-top: 15px;
}
.search_container button{
	color: white;
	height: 30px;
	width: 40px;
	border-radius: 8px;
	border-right:1px solid grey;
	background-color: #265175
}
.top_nav{
	background-color: #447CAB;
	width: 800px;
	border-radius: 5px;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 10px;
	margin-top: 10px;
}
.top_nav ul li{
	display: inline;
	margin: 15px;
}
.top_nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: lighter;
	font-size: 20px;
}
.side_nav{
	display: inline-block;
	position: relative;
	right: 20px;
	margin-top: 30px;
}
.side_nav ul li{
	margin: 15px;
	list-style-type: none;
}
.side_nav ul li a{
	color: white;
	font-weight: lighter;
}
.side_nav ul li:before{
	content: "\00BB \0020"; 
	color: gold;
}
.main_content{
	display: inline-block;
	vertical-align: top;
	width: 600px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.main_content p{
	color: white;
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 10px;
}
.main_content h3{
	margin: 10px;
	font-style: italic;
	font-weight: lighter;
	color: gold;
}
.main_content h4{
	font-weight: lighter;
	color: white;
}
.footer_1{
	padding-top: 30px;
	background-color: white;
}
.getting_started{
	border-top: 4px solid #447CAB;
	width: 350px;
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
	margin-left: 60px;
}
.getting_started p{
	margin: 10px;
	font-size: 15px
}
.getting_started span{
	color: #447CAB;	
}
.getting_started h3{
	padding-top: 10px;
}
.getting_started li a{
	text-decoration: none;
	color: #447CAB;
	font-size: 13px
}
.footer_2{
	height: 100px;
	color: white;
	padding-top: 40px;
}
.footer_2 a{
	color: white;
	margin: 30px;
	text-decoration: none;
}
.footer_2 p{
	font-size: 10px;
	margin-top: 40px;

