<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Secrets</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        {% load humanize %}
    </head>
    <body>
      <div class="container">
        <h3>Succes! Welcome, {{user.first_name}} {{user.last_name}}</h3>
        {% if messages %}
          <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
      <form class="container" action="/logout" method="POST">
          {% csrf_token %}
          <input type="submit" class="waves-effect waves-light btn red" value="Log out" name="logout">
      </form>

      <div class="container row">
        <form class="col s12" aciton="/postsecret" method="post">
             {% csrf_token %}
            <div class="input-field col s10">
              <textarea class="materialize-textarea" placeholder="Post your secrets here..." name="makesecret">My secrets go here...</textarea>
              <input type="submit" class="waves-effect waves-light btn green" value="Post" name="post"><br><br>
            </div>
        </form>
        <a href="#">Most popular secrets</a>
        <h3>Recent Secrets ....</h3>
            {% for secret in secrets %}
            <p>{{secret.content}} <br>({{secret.first_name}} {{secret.last_name}}  - {{ secret.created_at|naturaltime }})</p>
            {% endfor %}
      </div>

    </body>
</html>
